@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

body {
    font-family: 'Roboto Mono', monospace;
    background-color: #fdf6e3;
    color: #002b36;
}

input[type="radio"] {
    margin-right: 10px;
}
